<div class="page-container">
  <div class="header">
    <button class="btn btn-secondary" (click)="goBack()"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
    <h2 *ngIf="selectedUsername">{{ selectedUsername }}</h2>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
  <hr />
  <div class="chat-container">
    <div class="message-list" #messageList>
      <div *ngFor="let msg of messages" class="message" [ngClass]="{ sent: msg.sender === currentUsername, received: msg.sender !== currentUsername }">
        <div class="message-bubble">
          <p class="message-text">{{ msg.text }}</p>
          <span class="message-timestamp">{{ msg.timestamp | date : 'shortTime' }}</span>
        </div>
      </div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="message-form">
      <div class="input-group">
        <input type="text" formControlName="message" class="form-control" placeholder="Type your message..." />
        <button type="submit" class="btn btn-primary" [disabled]="messageForm.invalid">Send</button>
      </div>
    </form>
  </div>
</div>
